log/
logs_tboard/
resources/
.vscode
notebooks/
results/
data/
checkpoints/
outputs/
pretrained*/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.swp
*.swo
.DS_Store
.idea/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/